{% extends 'base.html' %}

{% block content %}
<div class="container-xl">
    <div class="flex-item-1 flex-center">
        <form method="POST" action="" class="form-login">
            {{ form_criar_conta.csrf_token }}
            <legend><i class="fa-solid fa-user mr-1"></i>Criar Conta</legend>
            <fieldset>
                <div class="form-group">
                    {{ form_criar_conta.username.label }}
                    {% if form_criar_conta.username.errors %}
                        {% for erro in form_criar_conta.username.errors %}
                            <div class="form-error">
                                <i class="fa-solid fa-triangle-exclamation"></i> {{ erro }}
                                {{ form_criar_conta.username }}
                            </div>
                        
                        {% endfor %}
                    {% else %}
                        {{ form_criar_conta.username }}
                    {% endif %}
                    
                </div>
                <div class="form-group">
                    {{ form_criar_conta.email.label }}
                    {% if form_criar_conta.email.errors %}
                        {% for erro in form_criar_conta.email.errors %}
                            <div class="form-error">
                                <i class="fa-solid fa-triangle-exclamation"></i> {{ erro }}
                                {{ form_criar_conta.email }}
                            </div>
                        {% endfor %}
                    {% else %}
                        {{ form_criar_conta.email }}
                    {% endif %}
                </div>
                <div class="form-group">
                    {{ form_criar_conta.senha.label }}
                    {% if form_criar_conta.senha.errors %}
                        {% for erro in form_criar_conta.senha.errors %}
                            <div class="form-error">
                                <i class="fa-solid fa-triangle-exclamation"></i> {{ erro }}
                                {{ form_criar_conta.senha }}
                            </div>
                        {% endfor %}
                    {% else %}
                        {{ form_criar_conta.senha }}
                    {% endif %}
                </div>
                <div class="form-group">
                    {{ form_criar_conta.confirmar_senha.label }}
                    {% if form_criar_conta.confirmar_senha.errors %}
                        {% for erro in form_criar_conta.confirmar_senha.errors %}
                            <div class="form-error">
                                <i class="fa-solid fa-triangle-exclamation"></i> {{ erro }}
                                {{ form_criar_conta.confirmar_senha }}
                            </div>
                        {% endfor %}
                    {% else %}
                        {{ form_criar_conta.confirmar_senha }}
                    {% endif %}
                </div>
            </fieldset>
            {{ form_criar_conta.submit_criar_conta }}
        </form>
    </div>
    <div class="flex-item-1 flex-center">
        <form method="POST" action="" class="form-login">
            {{ form_login.csrf_token }}
            <legend><i class="fa-solid fa-right-to-bracket mr-1"></i>Entrar</legend>
            <fieldset>
                <div class="form-group">
                    {{ form_login.email.label }}
                    {% if form_login.email.errors %}
                        {% for erro in form_login.email.errors %}
                            <div class="form-error">
                                <i class="fa-solid fa-triangle-exclamation"></i> {{ erro }}
                                {{ form_login.email }}
                            </div>
                        
                        {% endfor %}
                    {% else %}
                        {{ form_login.email }}
                    {% endif %}
                </div>
                <div class="form-group">
                    {{ form_login.senha.label }}
                    
                    {% if form_login.senha.errors %}
                        {% for erro in form_login.senha.errors %}
                            <div class="form-error">
                                <i class="fa-solid fa-triangle-exclamation"></i> {{ erro }}
                                {{ form_login.senha }}
                            </div>
                        {% endfor %}
                    {% else %}
                        {{ form_login.senha }}
                    {% endif %}
                </div>
                <div class="form-group">
                    {{ form_login.remember }}
                    {{ form_login.remember.label }}
                </div>
                
            </fieldset>
            {{ form_login.submit_login }}
        </form>
    </div>
</div>
{% endblock %}